DATABASE_URL=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

EDUPAGE_URL=
CAPTURE_SCREENSHOTS=
STATIC_URL_PREFIX=
SCREENSHOT_DIR=

S3_ENDPOINT_URL=
S3_REGION=
S3_BUCKET_NAME=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
